// Path
$img: "../img";

// Color
$red: #F2542B;
$blue: #3095DE;
$green: #008304;
$yellow: #E2AC00;
$pink: #EC1D6D;
$brown: #821B00;
$light-blue: #14E9F5;
$gold: #EEC81E;

.note-wrap {
  display: inline-block;
  perspective: 200px;
  perspective-origin: center;
  width: 100%;
}

.note:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px auto 5px auto;
  background-color: $gold;
  box-shadow: 0px 1px 4px black;
  border-radius: 100%;
}

.note {
  display: block;
  float: left;
  width: 300px;
  margin: 0 0 1em 0;
  padding: 5px;
  box-shadow: 0px 4px 20px black;
  @media (min-width: 768px) { 
    width: 100%;
  }
}

.note-body {
  @extend .note-ink;
  font-size: 9em;
  font-family: 'Permanent Marker', cursive;
}

.note-footer {
  @extend .note-ink;
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
}

.note-ink {
  color: white;
  text-align: center;  
}

.padded-note-content {
  padding: 1em;
}

// Note colors

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

.yellow {
  background-color: $yellow;
}

.pink {
  background-color: $pink;
}

.brown {
  background-color: $brown;
}

.black {
  background-color: black;
}

// Pattern

.no-pattern {

}

.crown {
  background-image: url(#{$img}/crown.png);
}

// On Enter

.drop {
  -webkit-animation: drop 1 ease-in 0.3s;
}

.drop-glow {
  -webkit-animation: glow infinite ease-in 1.3s, drop 1 ease-in 0.3s;
}

.drop-tilted-right {
  -webkit-animation: drop-tilted-right 1 ease-in 0.3s forwards;
}

.drop-tilted-right-glow {
  -webkit-animation: glow infinite ease-in 1.3s, drop-tilted-right 1 ease-in 0.3s forwards;
}

.drop-tilted-left {
  -webkit-animation: drop-tilted-left 1 ease-in 0.3s forwards;
}

.drop-tilted-left-glow {
  -webkit-animation:  glow infinite ease-in 1.3s, drop-tilted-left 1 ease-in 0.3s forwards;
}

@-webkit-keyframes drop {
  0% {
   transform: translateZ(200px);
  }
  100% {
    transform: translateZ(0px); 
  } 
}

@-webkit-keyframes glow {
  0% {
   box-shadow: 0px 4px 20px black, 0px 0px 0px $light-blue;
  }
  35% {
    box-shadow: 0px 4px 20px black, 0px 0px 40px 10px $light-blue;
  }
  65% {
    box-shadow: 0px 4px 20px black, 0px 0px 40px 10px white;
  }
  100% {
    box-shadow: 0px 4px 20px black, 0px 0px 0px white;
  } 
}

@-webkit-keyframes drop-tilted-right {
  0% {
   transform: translateZ(200px) rotate(2deg); 
  }
  100% {
    transform: translateZ(0px) rotate(2deg);  
  } 
}

@-webkit-keyframes drop-tilted-left {
  0% {
   transform: translateZ(200px) rotate(-2deg); 
  }
  100% {
    transform: translateZ(0px) rotate(-2deg);  
  } 
}