<!doctype html>
<html ng-app="birthdayCorkboard" ng-controller="BirthdayController">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-bind="title">Birthdays</title>
    <script src="component/platform/platform.js"></script>
    <script src="component/angularjs/angular.min.js"></script>
    <script src="js/core.js"></script>
    <script src="js/controller/birthdayController.js"></script>
    <script src="js/service/birthday.js"></script>
    <link rel="icon" href='img/favicon.ico' type="image/x-icon">
    <link href="component/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href="component/paper-ripple/paper-ripple.html" rel="import">
    <link href="element/birthday-pinned-note/birthday-pinned-note.html" rel="import">
  </head>
  <body>
    <nav id="nav-border-bar">
      <div id="nav-panel">
       <div class="nav-block">
          <div class="nav-month-button" ng-click="previousMonth()" ng-show="month > 0">
            <span class="nav-icon glyphicon glyphicon-chevron-left"></span>
            <paper-ripple fit class="circle recenteringTouch"></paper-ripple>
          </div>
        </div>
        <div class="nav-block long">
          <span class="engraved-title">{{ getMonthName(month) }}</span>
        </div>
        <div class="nav-block">
          <div class="nav-month-button" ng-click="nextMonth()" ng-show="month < 11">
            <span class="nav-icon glyphicon glyphicon-chevron-right"></span>
            <paper-ripple fit class="circle recenteringTouch"></paper-ripple>
          </div>
        </div>
      </div>
    </nav>
    <div id="cork">
      <div class="row">
        <div ng-repeat="birthday in filteredBirthdays = (birthdays | month:month | orderByDay)">
          <div class="col-sm-6 col-md-3 grid-element-container">
            <birthday-pinned-note birthday="{{ getMonthDay(birthday.birthday) }}" name="{{ birthday.name }}" noteStyle='{{ birthday.noteStyle }}'></birthday-pinned-note>
          </div>
        </div>
        <div class="empty-container" ng-hide="filteredBirthdays.length">
          <span class="empty">No birthdays this month!</span>
        </div>
      </div>
    </div>
  </body>
</html>