// Path
$img: "../../img";

// Font
$font-permanent-marker: 'Permanent Marker', cursive;

// Color
$engraved-wood: #3A0707;
$tape-color: rgba(237, 190, 129, 0.75);

// Dimen
$nav-height: 4.5em;
$nav-month-button-size: 3em;

body {
  margin: 0px;
  background: url(#{$img}/cork_texture.jpg) repeat;
}

@mixin centered {
  text-align: center;
  vertical-align: middle;
}

@mixin circled {
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}

.long {
  width: 70%;
  @media (min-width: 768px) { 
    width: 40%;
  }
}

#nav-border-bar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: $nav-height;
  font-family: $font-permanent-marker;
  background-image: url(#{$img}/wood_texture.jpg);
  box-shadow: 0px 2px 30px black;
}

#nav-panel {
  @include centered;
  width: 100%;
  height: $nav-height;
}

#nav-panel:hover {
  .nav-month-button {
    opacity: 1;
  }
}

.nav-month-button {
  @include circled;
  display: table-cell;
  position: relative;
  width: $nav-month-button-size;
  height: $nav-month-button-size;
  color: white;
  opacity: 0.2;
  transition: opacity 0.5s;
}

.nav-month-button:hover {
  .nav-icon {
    font-size: 1.5em;
  }
}

.nav-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
  color: $engraved-wood;
  transition: font-size 0.1s;
}

.nav-block {
  @include centered;
  display: inline-block;
}

.engraved-title {
  text-align: center;
  font-size: 3em;
  color: #3A0707;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
}

#cork {
  padding: 7em 0.3em 0.3em 0.3em;
}

.row {
  margin: 0px;
}

.grid-element-container {
  margin: auto;
  display: table;
  @media (min-width: 768px) { 
    display: block;
  }
}

.empty-container {
  text-align: center;
  margin-top: 5em;
}


@mixin tape-strip($angle: -25deg) {
  content: "";
  display: inline-block;
  position: absolute;
  width: 60px;
  height: 25px;
  background-color: $tape-color;
  transform: rotate($angle);
}

.empty:before {
  @include tape-strip;
  left: -15px;
  top: -4px;
}

.empty {
  position: relative;
  width: 65%;
  padding: 0.3em;
  text-align: center;
  font-size: 2.3em;
  font-family: $font-permanent-marker;
  background-color: white;
  box-shadow: 0px 2px 10px black;
}

.empty:after {
  @include tape-strip;
  right: -25px;
  top: 40px;
}